.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
  padding: 1rem 0;
}

.md-button-tools {
  padding: 1rem 0;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

button {
  border-radius: 15px;
}

