
<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <span class="header-spacer"></span>
    <div class="header-access">
    <ng-template *ngIf="cart$ | async as cart" [ngIf]="cart.totalItemsCount >= 1">
      <span>{{'$' + cart.totalPrice }}</span>
      <mat-icon [matBadge]="cart.totalItemsCount" matBadgeColor="warn" class="header-icon">shopping_cart</mat-icon>
    </ng-template>
    <ng-template [ngIf]="hasAuthenticated" [ngIfElse]="login">
      <span mat-icon-button (click)="logout()">
        <mat-icon aria-hidden="false">logout</mat-icon>
      </span>
    </ng-template>
    <ng-template #login>
      <ng-template [ngIf]="router.url !== '/login'" [ngIfElse]="back">
        <span mat-icon-button (click)="router.navigate(['login'])">
          <mat-icon aria-hidden="false">login</mat-icon>
        </span>
      </ng-template>
      <ng-template #back>
        <span mat-icon-button (click)="router.navigate(['order'])">
          Go Back
        </span>
      </ng-template>
    </ng-template>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
