.header{
  z-index: 100;
}

.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-access {
  display: flex;
  gap: 15px;
  padding-right: 1rem;
  align-items: center;
  span{
    cursor: pointer;
    mat-icon{
      vertical-align: sub;
    }
  }
  mat-icon{
    cursor: pointer;
  }



}
