
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pizzeria</span>
    <span class="header-spacer"></span>
    <ng-template [ngIf]="amountTotal >= 1">
      <div class="demo-section" aria-hidden="false">{{'$' + priceTotal }}</div>
      <div class="demo-section">
        <mat-icon [matBadge]="amountTotal" matBadgeColor="warn" class="header-icon" aria-hidden="false">shopping_cart</mat-icon>
      </div>
    </ng-template>
    <ng-template [ngIf]="hasAuthenticated" [ngIfElse]="login">
      <span style="padding-left: 40px;" mat-icon-button (click)="logout()">
        <mat-icon aria-hidden="false">logout</mat-icon>
      </span>
    </ng-template>
    <ng-template #login>
      <span style="padding-left: 40px;" mat-icon-button (click)="logout()">
        <mat-icon aria-hidden="false">login</mat-icon>
      </span>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
