.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
  padding: 1rem 0;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
  max-width: max-content;
  margin: auto;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 20px 20px 0 20px;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
  border-radius: 15px;
}
