<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="md-toolbar-tools">
        <h1>{{title}}</h1>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <mat-card class="form">
        <mat-form-field appearance="fill" class="form-element">
          <mat-label>Name</mat-label>
          <input id="name" matInput placeholder="Name" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-element">
          <mat-label>Price</mat-label>
          <input id="price" matInput class="example-right-align" (keydown)="getValue($event)" placeholder="0" [(ngModel)]="price">
          <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>

        <div class="form-element">
          <button mat-fab extended color="primary" class="button" (click)="save()" >Save</button>
        </div>
        <div class="form-element">
          <button mat-fab extended color="default" class="button" (click)="cancel()">Cancel</button>
        </div>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
