<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://personal-profile-evmc.web.app/"> About Me </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/erick-valdir/"> linkedIn </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com">About Template used - Creative Tim</a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{ test | date : "yyyy" }}, made with love by
      <a href="https://personal-profile-evmc.web.app/" target="_blank">Erick Machicado</a>
      for a better web.
    </div>
  </div>
</footer>
