
<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    [fixedInViewport]="true"
    [opened]="isExpanded"
    [mode]="isMobile ? 'over' : 'side'"
  >
    <app-sidebar
      (toggleMenu)="toggleMenu()"
      [isExpanded]="isExpanded"
    ></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="!isExpanded ? 'collapsed':'expanded'">
    <app-header (toggleMenu)="toggleMenu()"/>
    <div class="content-container">
      <div id="page-content-component" class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

