<section [class.sidenav]="isExpanded">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="toggleMenu.emit(null)"><mat-icon>menu</mat-icon></button>
    <span *ngIf="isExpanded">Store Online</span>
  </mat-toolbar>
  <mat-nav-list class="nav" *ngFor="let route of routeLinks">
    <a
      mat-list-item
      routerLinkActive="active-link"
      class="hover"
      routerLink="{{ route.path }}"
    >
      <mat-icon
        matListItemIcon
        [matTooltip]="!isExpanded ? route.title : null"
        matTooltipPosition="right"
      > {{ route.icon }}</mat-icon>
      <span matLine *ngIf="isExpanded">{{ route.title }}</span>
    </a>
  </mat-nav-list>

  <!--
  <mat-nav-list *ngFor="let route of routeLinks">
    <a
      mat-list-item
      class="hover"
      routerLinkActive="active-link"
      routerLink="{{ route.path }}"
    >
      <mat-icon
        matListItemIcon
        [matTooltip]="!isExpanded ? route.title : null"
        matTooltipPosition="right"
      > {{ route.icon }}</mat-icon>
      <span matLine *ngIf="isExpanded">{{ route.title }}</span>
    </a>
  </mat-nav-list>
  -->
</section>
